$primary: black
$secondary: pink
$highlight: orangerod
$fontColor: #11263f
$lightGrey: lightgrey
$borderColor: #11263f6e
$grey: grey

html,body
    color: $fontColor
    width: 100%
    background: none

.product-items-wrapper
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    margin-top: 100px

button
    font-size: 18px
    background-color: white
    border: none
    border: 1px solid $fontColor
    border-radius: 4px
    margin: 30px
    text-align: center
    display: block
    align-items: center
    justify-content: center
    justify-self: center
    align-self: center
    padding: 8px

.picture-container
    display: flex
    justify-self: center
    align-self: center
    flex-direction: column
    margin-bottom: 10px
    .picture
         display: flex
         justify-self: center
         align-self: center
         margin-right: 10px
         text-align: center
         width: 20rem
    .title
        font-size: 18px
        margin-top: 10px

.placeholder-message
    font-size: 20px
    padding: 8px
    margin-left: 22px

.details-wrapper
    display: flex
    justify-content: flex-start
    align-items: stretch
    flex-direction: column
    flex-wrap: nowrap
    width: 100%
    .details-container
        display: flex
        align-items: center
        background-color: $secondary
        justify-self: center
        font-size: 18px
        padding: 6px
        text-align: center
        margin-top: 8px
        border-bottom: 2px solid $borderColor
    .product-details
        padding: 4px
    .product-description
        align-items: center
        justify-content: flex-start
        margin-left:10px



@media (max-width: 767px)
    button
        font-size: 14px
    .title
        font-size: 14px
        margin-top: 4px
    .picture
        width: 16rem
    .placeholder-message
        font-size: 14px





