.grid
    display: flex
    justify-content: space-evenly
    align-items: center
    flex-wrap: wrap
    margin-top: 100px

button
    font-size: 18px
    background-color: white
    border: none
    border: 1px solid #11263f
    border-radius: 4px
    color: #11263f
    margin: 30px
    text-align: center
    display: block
    align-items: center
    justify-content: center
    justify-self: center
    align-self: center
    padding: 8px


.picture-container
    display: flex
    justify-self: center
    align-self: center
    flex-direction: column
    margin-bottom: 10px

.picture
    display: flex
    justify-self: center
    align-self: center
    margin-right: 10px
    text-align: center
    width: 20rem

.title
    font-size: 20px
    margin-top: 10px
    color: #11263f


@media (max-width: 678px)
    button
        font-size: 14px
    .title
        font-size: 14px
        margin-top: 4px
    .picture
        width: 16rem




